
._checkpoint_RN_2_3_final.ipynb
.ipynb_checkpoints/._RN_IA_Checkpoint4_NOME-checkpoint.ipynb
.ipynb_checkpoints/Checkpoint 2 e 3 Redes Neurais-checkpoint.ipynb
.ipynb_checkpoints/checkpoint_RN_2_3-checkpoint.ipynb
.ipynb_checkpoints/checkpoint_RN_2_3_final-checkpoint.ipynb
.ipynb_checkpoints/Checkpoint_RN_Final_2_3-checkpoint.ipynb
.ipynb_checkpoints/RN_IA_Checkpoint4_NOME-checkpoint.ipynb
checkpoint_RN_5/._lembrete.txt
checkpoint_RN_5/.ipynb_checkpoints/._RN_Checkpoint_5-checkpoint.ipynb
checkpoint_RN_5/.ipynb_checkpoints/._RN_IA_Checkpoint5_Jorge_Luiz_Gomes-checkpoint.ipynb
checkpoint_RN_5/.ipynb_checkpoints/._RN_IA_Checkpoint5_NOME-checkpoint.ipynb
checkpoint_RN_5/._RN_Checkpoint_5.ipynb
checkpoint_RN_5/.ipynb_checkpoints/RN_IA_Checkpoint5_NOME-checkpoint.ipynb
checkpoint_RN_5/.ipynb_checkpoints/RN_IA_Checkpoint5_Jorge_Luiz_Gomes-checkpoint.ipynb
checkpoint_RN_5/.ipynb_checkpoints/RN_Checkpoint_5-checkpoint.ipynb
